$primary-color: #5bc0de;

.sfe-content-wrapper-editable{
	position: relative;
	min-height: 30px;
	outline: 2px dashed transparent;
	transition: all .15s;
	box-shadow: 0 0 0 0 transparent;

	&:hover{
		outline: 2px dashed $primary-color;

		.sfe-toolbar{
			top: 2px;
			opacity: 1;
			pointer-events: all;
		}
	}

	&.sfe-editing{
		outline: 0 dashed $primary-color;
		box-shadow: 0 0 12px -3px $primary-color;

		.sfe-toolbar {
			top: 2px;
			pointer-events: none;
		}
	}

	.sfe-toolbar{
		transition: all .15s;
		position: absolute;
		top: -30px;
		left: 4px;
		opacity: 0;
		pointer-events: none;

		a{
			background: $primary-color;
			color: white;
			text-decoration: none;
			font-family: 'Open Sans', sans-serif;
			font-size: 13px;
			line-height: 17px;
			font-weight: 600;
			border-radius: 4px;
			display: inline-block;
			padding: 3px 7px;
			transition: all .15s;
			box-shadow: -1px 1px 2px 1px rgba(darken($primary-color, 50), .1);

			img{
				height: 15px;
				padding-right: 5px;
			}
		}
		a:hover, a:focus{
			outline: 0;
			background: darken($primary-color, 10);
			color: white;
		}
	}
}


@keyframes barberpole {
	100% {
		background-position: 100% 100%;
	}
}
.sfe-spinner-container{
	border: 1px solid rgba(0,0,0,.1);
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;

	background-image:
			repeating-linear-gradient(
							-45deg,
							rgba(255,255,255,.4),
							rgba(255,255,255,.4) 10px,
							rgba(0,0,0,.03) 10px,
							rgba(0,0,0,.03) 20px
			);
	background-size: 200% 200%;
}
.sfe-spinner-container.visible{
	display: block;
	animation: barberpole 15s linear infinite;
}
